<app-customernav></app-customernav>
<h1>Customer Account Details</h1>

<div class="mm">
<h3>Name: {{UserDetails.name}}</h3>
<h3>Gender: {{UserDetails.gender}}</h3>
<h3>PhoneNo: {{UserDetails.phonenum}}</h3>
<h3>EmailId: {{UserDetails.emailid}}</h3>
<h3>Address: {{UserDetails.address}}</h3>
<h3>City: {{UserDetails.city}}</h3>
<h3>State: {{UserDetails.state}}</h3>
<h3>PanNo: {{UserDetails.panid}}</h3>
<h3>AadharNo: {{UserDetails.aadharid}}</h3>
<div class="dd" >
    <h2>Account Status</h2>
<h3 class="ac" *ngIf="Accepted">Accepted</h3>   
<h3 class="re" *ngIf="Rejected">Rejected</h3>
<h3 class="un" *ngIf="UnApproved">UnApproved</h3>
</div>

</div>

<!-- accountno
: 
"3240981709595172"
accpin
: 
null
customer
: 
null
customerid
: 
5
id
: 
6 -->
<div class="mm" *ngIf="AccStatus">
    
    <h3>Account Details</h3>
    <h3>Account No - {{AccDetails.accountno}}</h3>
    <h3>{{AccDetails.accpin}}</h3>

</div>